$page-width = 1003px

$blue-d = #334352
$blue-l = #465867
$brown-l = #c79a6b
$grey-l = #d2d6d9
$grey-d = #b4b4b4
$grey-xd = #555

clearfix()
  &::after,
  &::before
    content: ' '
    display: table
    clear: both

*
  padding: 0
  margin: 0

html
body
  width: 100%
  height: 100%

body
  font: 80% Arial, sans-serif
  min-width: $page-width

@import('fonts')
@import('header/header')
@import('navigation/navigation')
@import('footer/footer')
