$page-width = 1003px

$blue-d = #334352
$blue-l = #465867
$brown-l = #c79a6b
$grey-l = #d2d6d9

clearfix()
  &::after,
  &::before
    content: ' '
    display: table
    clear: both

*
  padding: 0
  margin: 0

html
body
  width: 100%
  height: 100%

body
  font: 80% Arial, sans-serif
  min-width: $page-width

@font-face
  font-family: plumb-re
  src: url('../font/plumb-re.ttf')

@font-face
  font-family: plumb-me
  src: url('../font/plumb-me.ttf')

@font-face
  font-family: plumb-li
  src: url('../font/plumb-li.ttf')

@font-face
  font-family: plumb-bl
  src: url('../font/plumb-bl.ttf')

@font-face
  font-family: plumb-bo
  src: url('../font/plumb-bo.ttf')

a
  transition: color 0.25s ease-out

@import('header/header')
@import('navigation/navigation')
