a
  transition: color 0.25s ease-out

h1,
h3
  font-weight: normal
  color: $blue-d

h1,
h2
  font-family: plumb-bo
  text-transform: uppercase

h1
  font-size: 62px
  max-width: 610px

h2
  font-weight: normal
  font-size: 40px

  margin-bottom: 40px

  color: $grey-xxd

h3
  font-size: 32px
  max-width: 510px

p
  margin-bottom: 25px

a
  color: $brown-l

  &:hover
    text-decoration: none

.g-hidden
  display: none !important

.sublink
  z-index: 10
  position: absolute
  bottom: -16px
  right: 0

  font-size: 14px

  text-transform: uppercase

  &-wrap
    position: relative

.row
  width: $page-width
  margin: 0 auto

  box-sizing: border-box

  clearfix()

  &-shift
    padding: 0 100px

  &-stole-about
    padding-top: 30px
    max-width: 470px

    border-top: 1px solid $grey-l

.goods
  &-about
    font-family: plumb-bo
    font-weight: normal
    font-size: 22px

    max-width: 570px

    color: $grey-xxd

  &-info
    padding-top: 375px

    &__covers
      background: no-repeat left top url('../i/seat-covers.png')

    &__stole
      background: no-repeat left top url('../i/seat-stole.jpg')

  &-behaviour
    position: relative

    font-size: 19px

    min-height: 365px
    max-width: 500px
    padding-left: 115px
    padding-top: 50px

    color: $grey-xxd

    &__stole
      padding: 30px 0 0

    &-title
      font-family: plumb-bo
      font-size: 22px

      text-transform: uppercase

    &-list
      list-style: none

    &-item
      max-width: 370px
      margin-bottom: 30px

    &__stole &-item
      float: left

      width: 230px
      padding-top: 125px
      margin: 0 0 0 40px

      &:first-child
        margin-left: 0

    &-subitem
      position: relative
      list-style: none

      margin-top: 20px
      padding-left: 15px

      &::before
        position: absolute
        left: 0
        top: -25px

        font-size: 40px

        display: block

        color: $brown-l
        content: '.'

    &-img
      position: absolute
      left: -220px
      top: 0

      display: block

      width: 296px
      height: 450px

      background-repeat: no-repeat
      background-position: left top

      &__cover
        background-image: url('../i/goods-cover.png')

    &-icon
      padding-left: 70px

      background-repeat: no-repeat
      background-position: left top

      &__cover
        background-image: url('../i/behaviours-icons-cover.png')

        &_2
          height: 60px
          padding-top: 10px
          background-position: left -120px

        &_3
          height: 77px
          padding-top: 5px
          background-position: left -220px

      &__stole
        background-image: url('../i/behaviours-icons-stole.jpg')

        &_2
          background-position: -310px top

    &__stole &-icon
      padding-left: 0

.incut
  font-size: 19px

  margin: 30px 0
  padding: 30px 0

  color: #fff

  background-repeat: no-repeat
  background-position: center

  &__covers
    background-image: url('../i/incut-covers.png')

  &__stole
    background-image: url('../i/incut-stole.jpg')

.warranty
  font-size: 38px

  margin: 80px 0

  color: $grey-xxd
  text-align: center

  &-separator
    height: 15px
    margin-bottom: 40px

    background-color: $grey-xl

  & B
    display: block

    font-family: plumb-bo
    font-weight: normal

    text-transform: uppercase

.columns
  clearfix()

  &-item
    float: left
    width: 300px
    margin-left: (($page-width - @width * 3) / 2)

    &:first-child
      margin-left: 0 !important

  &-link:link,
  &-link:visited
    font-size: 14px

    text-transform: uppercase
    color: $brown-l

    &:hover,
    &:active
      text-decoration: none

  &-stole
    width: 680px
    margin: 0 auto

  &-stole &-item
    margin-left: 80px

.covers-for,
.stole-for
  list-style: none

  clearfix()

  & LI
    float: left
    min-width: 220px
    margin-bottom: 20px

.stole-for
  & LI
    padding-top: 210px
    margin-right: 20px
    width: 195px
    min-width: 0

    background-repeat : no-repeat
    background-image: url('../i/incut-stole-icons.png')

  &__first
    background-position: left top

  &__second
    background-position: -210px top

  &__third
    width: 215px !important
    background-position: -425px top

.downloads
  font-size: 14px

  float: right

  width: 275px
  margin-left: 20px

  clearfix()

  &-title
    font-family: plumb-bl
    font-size: 18px

    margin-bottom: 25px

    text-transform: uppercase

  &-link
    font-family: plumb-bo

    display: inline-block

    max-width: 120px
    padding-left: 35px

    color: #000

    text-decoration: none

    background-position: left top
    background-repeat: no-repeat

    &:hover
      cursor: pointer

    &__excel
      background-image: url('../i/downloads-icon-excel.png')

    &__pdf
      background-image: url('../i/downloads-icon-pdf.png')

    &-info
      font-family: plumb-re

      display: block

      margin-top: 10px

      opacity: .69

  &-catalog
    padding: 30px 40px
    margin-bottom: 15px

    background: $grey-xl

    &-access
      margin: 45px 0 35px

  &-instruction
    padding: 25px 33px
    border: 8px solid $grey-xl

.arrow
  position: relative

  display: inline-block

  padding: 5.5px 8px

  color: #000

  text-transform: uppercase
  text-decoration: none

  border: 5px solid $yellow

  &:after
    position: absolute
    top: -5px
    right: -20px

    display: inline-block
    width: 20px
    height: 37px

    background: no-repeat left top $grey-xl url('../i/arrow.png')

    content: ''

.paranja
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0

  background: rgba(27, 41, 55, .95)

.portfolio
  margin: 50px 0 70px

  clearfix()

  &-box
    position: fixed
    top: 5%
    left: @top
    right: @top
    bottom: @top

    display: table-cell

    text-align: center
    vertical-align: middle

    border: 1px dashed $brown-l

  &-item
    display: block

    background-repeat: no-repeat
    background-position: center
    background-size: 110%

    transition: background-size .25s ease-out

    &:hover
      background-size: 120%

  &-covers-l
    float: left
    width: 309px

    margin: 0 5px 0 0

    & a
      margin: 0 0 5px 0

    &_1
      height: 357px
      background-image: url('../portfolio/cover-l-1_s.jpg')

    &_2
      height: 348px
      background-image: url('../portfolio/cover-l-2_s.jpg')

    &_3
      height: 245px
      background-image: url('../portfolio/cover-l-3_s.jpg')

  &-covers-r
    float: left
    width: 689px
    margin: 0 0 5px 0

    clearfix()

    &_1
      float: left

      width: 409px
      height: 275px
      margin: 0 5px 5px 0

      background-image: url('../portfolio/cover-r-1_s.jpg')

    &_2
      float: left

      width: 275px
      height: 275px
      margin: 0 0 5px 0

      background-image: url('../portfolio/cover-r-2_s.jpg')

    &_3
      width: 690px
      height: 680px

      clear: both

      background-image: url('../portfolio/cover-r-3_s.jpg')

  &-covers-b
    /*float: left*/
    clearfix()

    &_1
      float: left

      width: 689px
      height: 459px
      margin: 0 5px 0 0

      background-image: url('../portfolio/cover-b-1_s.jpg')

    &_2
      float: left

      width: 306px
      height: 459px

      background-image: url('../portfolio/cover-b-2_s.jpg')

  &-stoles-l
    float: left
    width: 309px
    margin: 0 5px 0 0

    & a
      margin: 0 0 5px 0

    &_1
      height: 505px
      background-image: url('../portfolio/stole-l-1_s.jpg')

    &_2
      height: 218px
      background-image: url('../portfolio/stole-l-2_s.jpg')

  &-stoles-r
    float: left
    width: 689px
    margin: 0 0 5px 0

    clearfix()

    &_1
      float: left

      width: 409px
      height: 273px
      margin: 0 5px 5px 0

      background-image: url('../portfolio/stole-r-1_s.jpg')

    &_2
      float: left

      width: 275px
      height: 273px
      margin: 0 0 5px 0

      background-image: url('../portfolio/stole-r-2_s.jpg')

    &_3
      width: 689px
      height: 450px

      clear: both

      background-image: url('../portfolio/stole-r-3_s.jpg')

  &-stoles-b
    clearfix()

    &_1
      float: left

      width: 116px
      height: 277px
      margin: 0 5px 0 0

      background-image: url('../portfolio/stole-b-1_s.jpg')

    &_2
      float: left

      width: 435px
      height: 277px
      margin: 0 5px 0 0

      background-image: url('../portfolio/stole-b-2_s.jpg')

    &_3
      float: left

      width: 434px
      height: 277px

      background-image: url('../portfolio/stole-b-3_s.jpg')

  &-stoles
    clearfix()

    &_1
      float: left

      width: 373px
      height: 247px

      background-image: url('../portfolio/stole-1_s.jpg')

    &_2
      float: left

      width: 324px
      height: 247px

      background-image: url('../portfolio/stole-2_s.jpg')

    &_3
      clear: both
      float: left

      width: 373px
      height: 251px

      background-image: url('../portfolio/stole-3_s.jpg')

    &_4
      float: left

      width: 324px
      height: 251px

      background-image: url('../portfolio/stole-4_s.jpg')

    &_5
      float: left

      margin-top: -247px
      width: 304px
      height: 498px

      background-image: url('../portfolio/stole-5_s.jpg')
