@font-face
  font-family: plumb-re
  src: url('../font/plumb-re.ttf')

@font-face
  font-family: plumb-me
  src: url('../font/plumb-me.ttf')

@font-face
  font-family: plumb-li
  src: url('../font/plumb-li.ttf')

@font-face
  font-family: plumb-bl
  src: url('../font/plumb-bl.ttf')

@font-face
  font-family: plumb-bo
  src: url('../font/plumb-bo.ttf')

@font-face
  font-family: calibri-bo
  src: url('../font/calibri-bo.ttf')
