.portfolio
  margin: 50px 0 70px

  clearfix()

  &__accs
    margin-bottom: 0

  &-box
    position: fixed
    top: 5%
    left: @top
    right: @top
    bottom: @top

    display: table-cell

    text-align: center
    vertical-align: middle

    border: 1px dashed $brown-l

  &-item
    display: block

    background-repeat: no-repeat
    background-position: center
    background-size: 110%

    transition: background-size .25s ease-out

    &:hover
      background-size: 120%

  &-covers-l
    float: left
    width: 309px

    margin: 0 5px 0 0

    & a
      margin: 0 0 5px 0

    &_1
      height: 357px
      background-image: url('../portfolio/cover-l-1_s.jpg')

    &_2
      height: 348px
      background-image: url('../portfolio/cover-l-2_s.jpg')

    &_3
      height: 245px
      background-image: url('../portfolio/cover-l-3_s.jpg')

  &-covers-r
    float: left
    width: 689px
    margin: 0 0 5px 0

    clearfix()

    &_1
      float: left

      width: 409px
      height: 275px
      margin: 0 5px 5px 0

      background-image: url('../portfolio/cover-r-1_s.jpg')

    &_2
      float: left

      width: 275px
      height: 275px
      margin: 0 0 5px 0

      background-image: url('../portfolio/cover-r-2_s.jpg')

    &_3
      width: 690px
      height: 680px

      clear: both

      background-image: url('../portfolio/cover-r-3_s.jpg')

  &-covers-b
    /*float: left*/
    clearfix()

    &_1
      float: left

      width: 689px
      height: 459px
      margin: 0 5px 0 0

      background-image: url('../portfolio/cover-b-1_s.jpg')

    &_2
      float: left

      width: 306px
      height: 459px

      background-image: url('../portfolio/cover-b-2_s.jpg')

  &-stoles-l
    float: left
    width: 309px
    margin: 0 5px 0 0

    & a
      margin: 0 0 5px 0

    &_1
      height: 505px
      background-image: url('../portfolio/stole-l-1_s.jpg')

    &_2
      height: 218px
      background-image: url('../portfolio/stole-l-2_s.jpg')

  &-stoles-r
    float: left
    width: 689px
    margin: 0 0 5px 0

    clearfix()

    &_1
      float: left

      width: 409px
      height: 273px
      margin: 0 5px 5px 0

      background-image: url('../portfolio/stole-r-1_s.jpg')

    &_2
      float: left

      width: 275px
      height: 273px
      margin: 0 0 5px 0

      background-image: url('../portfolio/stole-r-2_s.jpg')

    &_3
      width: 689px
      height: 450px

      clear: both

      background-image: url('../portfolio/stole-r-3_s.jpg')

  &-stoles-b
    clearfix()

    & .portfolio-item
      float: left

    &_1
      width: 116px
      height: 277px
      margin: 0 5px 0 0

      background-image: url('../portfolio/stole-b-1_s.jpg')

    &_2
      width: 435px
      height: 277px
      margin: 0 5px 0 0

      background-image: url('../portfolio/stole-b-2_s.jpg')

    &_3
      width: 434px
      height: 277px

      background-image: url('../portfolio/stole-b-3_s.jpg')


  &-stoles
    clearfix()

    & .portfolio-item
      float: left

    &_1
      width: 373px
      height: 247px

      background-image: url('../portfolio/stole-1_s.jpg')

    &_2
      width: 324px
      height: 247px

      background-image: url('../portfolio/stole-2_s.jpg')

    &_3
      clear: both
      width: 373px
      height: 251px

      background-image: url('../portfolio/stole-3_s.jpg')

    &_4
      width: 324px
      height: 251px

      background-image: url('../portfolio/stole-4_s.jpg')

    &_5
      margin-top: -247px
      width: 304px
      height: 498px

      background-image: url('../portfolio/stole-5_s.jpg')

  &-accs
    clearfix()

    & .portfolio-item
      float: left

    &_1
      width: 249px
      height: 499px

      background-image: url('../portfolio/accs-1_s.jpg')

    &_2
      width: 504px
      height: 499px

      background-image: url('../portfolio/accs-2_s.jpg')

    &_3
      width: 248px
      height: 277px

      background-image: url('../portfolio/accs-3_s.jpg')

    &_4
      width: 248px
      height: 222px

      background-image: url('../portfolio/accs-4_s.jpg')

    &_5
      width: 249px
      height: 229px

      background-image: url('../portfolio/accs-5_s.jpg')

    &_6
      width: 332px
      height: 229px

      background-image: url('../portfolio/accs-6_s.jpg')

    &_7
      width: 422px
      height: 229px

      background-image: url('../portfolio/accs-7_s.jpg')
