.footer
  position: relative

  font-size: 15px
  line-height: 40px

  width: $page-width
  min-height: 63px
  margin: 15px auto 0
  padding: 15px 0

  border-top: 1px solid $grey-l
  color: $grey-d

  text-transform: uppercase

  .main &
    border-color: $m-grey-l
    color: #b5b4b4

  &-more
    position: absolute
    left: 50%

    font-size: 17px
    line-height: 20px

    display: inline-block
    height: 53px
    padding-left: 210px
    padding-top: 10px
    margin-left: -79px


    background: no-repeat left center url('../i/logo-footer.png')
    color: $grey-xd

    text-transform: none
    text-decoration: none

    .main &
      background-image: url('../i/logo-footer-m.png')
      color: #b5b4b4
